*.pio
firmware/**/*.vscode
hardware/PCB/esp32-ups-snmp/**/*backups/
*logo*.hpp
*DS_Store*
*.FCBak
*jlcpcb*
firmware/**/*include/Customization.hpp
firmware/**/src/GitVersion.cpp
*.ps1
firmware/**/src/StaticWebContent.cpp
